<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916438719854-9buuihm8t8gc8b4eq8cnsjvte3i4iveb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916438719854-9buuihm8t8gc8b4eq8cnsjvte3i4iveb</string>
	<key>API_KEY</key>
	<string>AIzaSyC83FJa9Ua4Z3UYYlkTsKGXqAMigrEQUVI</string>
	<key>GCM_SENDER_ID</key>
	<string>916438719854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itm2022Fb</string>
	<key>PROJECT_ID</key>
	<string>itm-2022-fb</string>
	<key>STORAGE_BUCKET</key>
	<string>itm-2022-fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916438719854:ios:ea24a96f3df17a747c357f</string>
</dict>
</plist>